@font-face {
    font-family: Fredoka;
    src: url("assets/Fredoka/Fredoka.ttf");
}

body{
    background: linear-gradient(#db1147 70%,#fcfcfc);
    position: relative;
    overflow: auto;
    font-family: Fredoka,sans-serif;
    font-size: large;
}

#tile-container{
    height: 100%;
    display: inline;
    width: 100%;
}

#tile-pattern {
    background-image: url("assets/images/tiles.svg");
    background-size: 10%;
    position: absolute;
    left: 50%;
    translate: -50% 0%;
    z-index: -2;
    height: 100%;
    width: 100%;
    min-width: 1200px;
    opacity: 10%;
    animation: pan 180s linear infinite;
    will-change: background-position;
}

@keyframes pan{
    0% {
        background-position: 0% 0%;
      }
      100% {
        background-position: 100% 0%;
      }
}

#mainstuff{
    background-color: rgb(243, 249, 255);
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: -5px;
    z-index: 1;
    outline-color: #ffffff;
    outline-width: 10px;
    outline-style: groove;
}