@font-face {
    font-family: Fredoka;
    src: url("assets/Fredoka/Fredoka.ttf");
}

body{
    height: 100vh;
    background: linear-gradient(#db1147 70%,#fcfcfc);
    position: relative;
    overflow: hidden;
    font-family: Fredoka,sans-serif;
}

#tile-pattern {
    background-image: url("assets/images/tiles.svg");
    background-size: 10%;
    position: absolute;
    left: 50%;
    top: 50;
    translate: -50% 0%;
    z-index: -2;
    height: 100%;
    width: 100%;
    min-width: 1200px;
    opacity: 10%;
    animation: pan 180s linear infinite;
    will-change: background-position;
}

@keyframes pan{
    0% {
        background-position: 0% 0%;
      }
      100% {
        background-position: 100% 0%;
      }
}

#gradient-overlay {
    background: radial-gradient(circle, transparent 50%, #ffffff);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: -1;
}

#mainstuff{
    background-color: aliceblue;
    width: 50%;
    margin: 25%;
    z-index: 1;
    height: 100%;
}