body{
    background: linear-gradient(#9a28f8 70%,#000000);
    position: relative;
    overflow: hidden;
    font-family: Fredoka,sans-serif;
    font-size: large;
    border: #00000066 10px;
    border-style: dashed;
}

#tile-container{
    height: 100%;
    display: inline;
    width: 100%;
}

#tile-pattern {
    background-image: url("assets/images/test.svg");
    background-size: 10%;
    position: absolute;
    left: 50%;
    translate: -50% 0%;
    z-index: -2;
    height: 100%;
    width: 100%;
    opacity: 10%;
    animation: pan 180s linear infinite;
    will-change: background-position;
}

@keyframes pan{
    0% {
        background-position: 0% 0%;
      }
      100% {
        background-position: -100% 0%;
      }
}

#mainstuff{
    background-color: rgb(243, 249, 255);
    width: 50vw;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: -6px;
    z-index: 1;
    outline-color: #ffffff;
    outline-width: 10px;
    outline-style: groove;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: -10px;
    height: 100vh;
    overflow-y: auto;
}

p {
    padding-bottom:10px;
}

a{
    color: #fd3a54;
    text-decoration-style:wavy; 
    font-size: 20px;
}

.rightAlign {
    text-align: right;
    margin-right: 10px;
    margin-left: auto;

}

mini{
    color: #7d7d7e;
    font-size: 12px;
}

h1{
    color: #000000;
}

em{
    position: relative;
    color: #fa2f68;
}

h2{
    color: #3a3a3a;
    transform: rotate(-2deg);
    text-shadow: 2px 2px #c4c4c4;
}

b{
    color: #393c50;
}

.anotherOne{
    color: #3a3a3a;
    transform: rotate(1deg);
    text-shadow: 2px 2px #c4c4c4;
    margin-bottom: -10px;
}

.wavyText{
    animation: waveanim 5s infinite ease;
    font-size: 20px;
}

.waveawesome{
    transform: translateY(0.0vw);
    text-shadow: 0px 2px 1px #5d5d5d;
    font-size: 22px;
    display: inline-block;
}

.waveawesome .char{
    animation: test 2s ease-in-out infinite;
    transform: translateY(-10em);
    animation-delay: calc(0.05s * var(--char-index));
}

.waveawesomeSmall{
    display: none;
    transform: translateY(-1vw);
    text-shadow: 0px 2px 1px #5d5d5d;
}


.BlueSocialThing{
    margin-top: 20px;
    padding-top: 10px;
    background-color: #4e89ff2e;
    border-top: #bd1a48 0px;
    border-right: #bd1a48 0px;
    border-left: #bd1a48 0px;
    border-bottom: #3980fc 5px;
    border-style: solid;
    height: fit-content;
}

.OrangeSocialThing{
    margin-top: 20px;
    padding-top: 10px;
    background-color: #fec8332e;
    border-top: #bd1a48 0px;
    border-right: #bd1a48 0px;
    border-left: #bd1a48 0px;
    border-bottom: #fd8a2d 5px;
    border-style: solid;
    height: fit-content;
}

.RedSocialThing{
    margin-top: 20px;
    padding-top: 10px;
    background-color: #fe337d2e;
    border-top: #bd1a48 0px;
    border-right: #bd1a48 0px;
    border-left: #bd1a48 0px;
    border-bottom: #fa2222 5px;
    border-style: solid;
    height: fit-content;
}

.GreenSocialThing{
    margin-top: 20px;
    padding-top: 10px;
    background-color: #33fea32e;
    border-top: #bd1a48 0px;
    border-right: #bd1a48 0px;
    border-left: #bd1a48 0px;
    border-bottom: #22fa83 5px;
    border-style: solid;
    height: fit-content;
}

.SocialThing a:hover{
    color: #ff117c;
}

.SocialIcon{
    padding-left: 10px;
    padding-right: 5px;
    width: 20px;
    max-width: 180px;
    transform: scale(1.1) translateY(3.5px);;
    image-rendering: -moz-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
}

.SocialName{
    padding-left: 10px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1px;
    margin-bottom: -10px;
    color: #1b2137;
    text-shadow: 2px 1px #1c1e463e;
}

.SocialDesc{
    padding-left: 10px;
    padding-right: 8px;
    margin-bottom: -3px;
}

a img.thumbanail:hover {
    transform: scale(1.1) rotate(-1deg);
    box-shadow: 2px 3px 1px 1px #bd1a48;
    animation: thumbanim 3s infinite ease;
    transition: all 0.5;
}

.gameName{
    font-weight: bold;
    transform: translateY(-10px);
    margin-bottom: 10px;
}

.gameDesc{
    transform: translateY(-30px);
}

@media screen and (max-width: 800px){
    #mainstuff{
        width: 80vw;
        margin-left: 8.5vw;
        margin-right: 10vw;
        padding-left: 0px;
        padding-right: 0px;
        overflow-y: auto;
    }

    
    #tile-pattern {
        background-size: 30%;
        left: 50%;
        translate: -50% 0%;
        height: 100%;
        width: 100%;
    }

    .waveawesomeSmall .char{
        color: #272e689a;
        transform: translateY(0em);
        animation: changingcolors 3s infinite ease-in-out;
        animation-delay: calc(0.1s * var(--char-index));
    }

    .waveawesomeSmall{
        font-size: 20px;
        display: inline-block;
        transform: translateY(-1vw);
        text-shadow: 0px 2px 1px #5d5d5d;
    }

    .waveawesome{
        transform: translateY(-1vw);
        text-shadow: 0px 2px 1px #5d5d5d;
        display: none;
    }

    .wavyText{
        animation: none;
        font-size: 20px;
    }

    body{
        border: #00000066 0px;
        border-style: none;
    }

}


@keyframes changingcolors{
    0%,100%{
        color: #ff5b5b;
    }

    25%{
        color: #ffff5b;
    }

    50%{
        color: #5190fc;
    }

    75%{
        color: #c800ff;
    }
}

@keyframes thumbanim {
    0%,100%{
        transform: scale(1.1) rotate(-1deg) translateY(3px);
    }

    50%{
        transform: scale(1.1) rotate(1deg) translateY(-1px);
    }
}

@keyframes test{
    0%,100%{
        transform: translateY(-0.2em) rotate(-5deg);
        color: #ff5b5b;
    }

    25%{
        color: #ffff5b;
    }

    50%{
        transform: translateY(0.2em) rotate(5deg);
        color: #5190fc;
    }

    75%{
        color: #c800ff;
    }
}

@keyframes waveanim{
    25% {
        transform: rotate(1.5deg);
      }
    
    50%{
        transform: rotate(0.0deg);
    }
    
    75% {
        transform: rotate(-1.5deg);
    }

    100%{
        transform: rotate(0.0deg);
    }
}