@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.playfair-display-cool {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body{
    color: white;
    background-color: black;
    font-family: "Playfair Display", serif;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    animation: fadein 0.5s;
}

.imgcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    background-color: transparent;
}

.linkback{
    font-family: 'Courier New', Courier, monospace;
    background-color: transparent;
    font-size: 40px;
    color: white;
    text-decoration: none;
    background-color: transparent;
    border: none;
}

.linkback:hover{
    transform: scale(1.1,1.1);
}

.compicons{
    display: inline-block;
    position: absolute;
    width: 300px;
    align-items:center;
    justify-items: center;
    justify-self: center;
}

.compicons table td img{
    background-color: blueviolet;
    width: 50px;
    height: 50px;
    margin: 50px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
}

.bigimage{
    width: 800px;
    height: 600px
}

.computerborder{
    width: 800px;
    height: 600px;
    z-index: 2;
    background-image: url('https://img.itch.zone/aW1nLzEyMTk0NDUwLnBuZw==/original/0SaEfy.png');
    background-repeat: repeat;
    background-size: 20%;
}

.forestgameimg{
    position: absolute;
    padding: none;
    margin: none;
    width: 600px;
    height: 400px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
}

.bigvid{
    width: 800px;
    height: 600px;
}

.horizontalcont{
    position: absolute;
    padding: none;
    margin: none;
    width: 900px;
}

.rightkey{
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    left: 860px;
    font-size: 40px;
    color: white;
    text-decoration: none;
    background-color: transparent;
    border: none;
}

.rightkey:hover{
    transform: scale(1.1,1.1);
}

.leftkey{
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    right: 860px;
    font-size: 40px;
    color: white;
    text-decoration: none;
    background-color: transparent;
    border: none;
}

.leftkey:hover{
    transform: scale(1.1,1.1);
}

@keyframes fadein {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes zoomin {
    0%{
        transform: scale(2.0,2.0);
    }
    100%{
        transform: scale(1.0,1.0);
    }
}