@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

@keyframes bounceLogo {
    0%{
        transform: scale(0.1) rotateX(360deg);
    }

    75%{
        transform: scale(1.2) rotateX(10deg);
    }

    100%{
        transform: scale(1.0) rotateX(0deg);
    }

}

.logo{
    animation: bounceLogo 0.6s ease-out;
    transition: all 0.2s;
}

body{
    font-family: Fredoka,sans-serif;
    overflow-x: hidden;
    margin: 20px;
    color: rgb(51, 45, 31);
    font-size: larger;
    font-weight: 500;
    text-align: center;
}

section {
    position: relative;
    display: inline-block;
    text-align: center;
    background-color: rgb(248, 241, 214);
    border-radius: 20px;
    margin: 10px;
    padding: 15px;
    max-width: 900px;
}

.leftalign{
    text-align: left;
}

a{
    color: inherit;
    text-decoration: none;
    transform: scale(1.0);
}

a:hover :only-child{
    transform: scale(1.05);
}

.blue{
    background-color: rgb(209, 209, 244);
    color: rgb(35, 31, 51);
    transition: all 0.2s;
}

.nobg{
    background: white;
    padding: 10px;
    margin: 0px;
    opacity: 0.5;
}

p{
    margin: 10px;
    padding: 0;
}

h1{
    text-shadow: 1px 1px #46240353;
    font-size: larger;
}

.rotatedText{
    transform: rotate(1deg) translate(0px,20px);
    text-align: center;
    position: relative;
    display: block;
    margin: 0;
    margin-right: 800px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.rotatedText2{
    transform: rotate(-1deg) translate(0px,20px);
    text-align: center;
    position: relative;
    display: block;
    margin: 0;
    margin-top: 10px;
    margin-right: 800px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.smalltext{
    opacity: 0.5;
    font-size: medium;
    margin-top: -10px;
    padding: 0;
}

.borderimg{
    border-radius: 10px;
    border-color: rgb(248, 241, 214);
    border-width: 5px;
    border-style: solid;
}

.secret{
    margin-top: 600px;
}

.skip{
    margin: 100px;
}