body{
    background-color: black;
    font-family: "Fredoka";
    overflow: hidden;
}

.announcement{
    color: rgb(255, 255, 255);
    line-height: 3px;
}

h4{
    color: rgb(197, 197, 197);
    font-weight: lighter;
}

.card{
    width: 35%;
    height: 85%;
    background-color: aliceblue;
    color: black;
    position: absolute;
    left: 50%;
    top: 55%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 600px) {
    .card{
        width: 80%;
        height: 80%;
        top: 55%;
    }
}